OAUTH_GOOGLE_CLIENT_ID=...
OAUTH_GOOGLE_CLIENT_SECRET=...

DB_POSTGRESQL_HOST = ...
DB_POSTGRESQL_PORT = ...
DB_POSTGRESQL_USER = ...
DB_POSTGRESQL_PASS = ...
DB_POSTGRESQL_NAME = ...

SECRET_KEY = ...